课程表UWP/Service References/CloudService/kechengbiao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:UserInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="tns:Location" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QQUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nickname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Validate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVip" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Location">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheluleListOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheluleListOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheluleListOfUserResult" type="tns:ArrayOfSchedule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSchedule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Schedule">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="location" type="tns:Location" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Statis" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Recommend" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetScheluleListNearby">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="省份" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="城市" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="m" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheluleListNearbyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheluleListNearbyResult" type="tns:ArrayOfSchedule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProvinceScheluleList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="省份" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="m" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProvinceScheluleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProvinceScheluleListResult" type="tns:ArrayOfSchedule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadClassById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadClassByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadClassByIdResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadClassByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scheduleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadClassByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadClassByNameResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectMN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="m" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectMNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectMNResult" type="tns:ArrayOfSchedule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchScheduleName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scheduleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchScheduleNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchScheduleNameResult" type="tns:ArrayOfSchedule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLenById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLenByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentLenByIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLenByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="classtitle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLenByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentLenByNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailCodeResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgAlert" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlNav" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfSchedule" nillable="true" type="tns:ArrayOfSchedule" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="int" type="s:int" />
      <s:element name="ResponseResult" nillable="true" type="tns:ResponseResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSoapIn">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="UploadSoapOut">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheluleListOfUser" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheluleListOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListNearbySoapIn">
    <wsdl:part name="parameters" element="tns:GetScheluleListNearby" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListNearbySoapOut">
    <wsdl:part name="parameters" element="tns:GetScheluleListNearbyResponse" />
  </wsdl:message>
  <wsdl:message name="GetProvinceScheluleListSoapIn">
    <wsdl:part name="parameters" element="tns:GetProvinceScheluleList" />
  </wsdl:message>
  <wsdl:message name="GetProvinceScheluleListSoapOut">
    <wsdl:part name="parameters" element="tns:GetProvinceScheluleListResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadClassById" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadClassByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByNameSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadClassByName" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByNameSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadClassByNameResponse" />
  </wsdl:message>
  <wsdl:message name="SelectMNSoapIn">
    <wsdl:part name="parameters" element="tns:SelectMN" />
  </wsdl:message>
  <wsdl:message name="SelectMNSoapOut">
    <wsdl:part name="parameters" element="tns:SelectMNResponse" />
  </wsdl:message>
  <wsdl:message name="SearchScheduleNameSoapIn">
    <wsdl:part name="parameters" element="tns:SearchScheduleName" />
  </wsdl:message>
  <wsdl:message name="SearchScheduleNameSoapOut">
    <wsdl:part name="parameters" element="tns:SearchScheduleNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentLenById" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentLenByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentLenByName" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentLenByNameResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailCode" />
  </wsdl:message>
  <wsdl:message name="SendEmailCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailCodeResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DeleteFileHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListOfUserHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListOfUserHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListNearbyHttpGetIn">
    <wsdl:part name="省份" type="s:string" />
    <wsdl:part name="城市" type="s:string" />
    <wsdl:part name="m" type="s:string" />
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListNearbyHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="GetProvinceScheluleListHttpGetIn">
    <wsdl:part name="省份" type="s:string" />
    <wsdl:part name="m" type="s:string" />
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProvinceScheluleListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="GetFileHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByIdHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByNameHttpGetIn">
    <wsdl:part name="scheduleName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByNameHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SelectMNHttpGetIn">
    <wsdl:part name="m" type="s:string" />
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectMNHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="SearchScheduleNameHttpGetIn">
    <wsdl:part name="scheduleName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchScheduleNameHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByIdHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByNameHttpGetIn">
    <wsdl:part name="classtitle" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByNameHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendEmailCodeHttpGetIn">
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DeleteFileHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListOfUserHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListOfUserHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListNearbyHttpPostIn">
    <wsdl:part name="省份" type="s:string" />
    <wsdl:part name="城市" type="s:string" />
    <wsdl:part name="m" type="s:string" />
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheluleListNearbyHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="GetProvinceScheluleListHttpPostIn">
    <wsdl:part name="省份" type="s:string" />
    <wsdl:part name="m" type="s:string" />
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProvinceScheluleListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="GetFileHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByIdHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByNameHttpPostIn">
    <wsdl:part name="scheduleName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadClassByNameHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SelectMNHttpPostIn">
    <wsdl:part name="m" type="s:string" />
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectMNHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="SearchScheduleNameHttpPostIn">
    <wsdl:part name="scheduleName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchScheduleNameHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSchedule" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByIdHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByNameHttpPostIn">
    <wsdl:part name="classtitle" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenByNameHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendEmailCodeHttpPostIn">
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:portType name="kechengbiaoSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <wsdl:input message="tns:UploadSoapIn" />
      <wsdl:output message="tns:UploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListOfUser">
      <wsdl:input message="tns:GetScheluleListOfUserSoapIn" />
      <wsdl:output message="tns:GetScheluleListOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListNearby">
      <wsdl:input message="tns:GetScheluleListNearbySoapIn" />
      <wsdl:output message="tns:GetScheluleListNearbySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceScheluleList">
      <wsdl:input message="tns:GetProvinceScheluleListSoapIn" />
      <wsdl:output message="tns:GetProvinceScheluleListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input message="tns:GetFileSoapIn" />
      <wsdl:output message="tns:GetFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadClassById">
      <wsdl:input message="tns:DownloadClassByIdSoapIn" />
      <wsdl:output message="tns:DownloadClassByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadClassByName">
      <wsdl:input message="tns:DownloadClassByNameSoapIn" />
      <wsdl:output message="tns:DownloadClassByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectMN">
      <wsdl:input message="tns:SelectMNSoapIn" />
      <wsdl:output message="tns:SelectMNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchScheduleName">
      <wsdl:input message="tns:SearchScheduleNameSoapIn" />
      <wsdl:output message="tns:SearchScheduleNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenById">
      <wsdl:input message="tns:GetDocumentLenByIdSoapIn" />
      <wsdl:output message="tns:GetDocumentLenByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenByName">
      <wsdl:input message="tns:GetDocumentLenByNameSoapIn" />
      <wsdl:output message="tns:GetDocumentLenByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <wsdl:input message="tns:SendEmailCodeSoapIn" />
      <wsdl:output message="tns:SendEmailCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="kechengbiaoHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileHttpGetIn" />
      <wsdl:output message="tns:DeleteFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListOfUser">
      <wsdl:input message="tns:GetScheluleListOfUserHttpGetIn" />
      <wsdl:output message="tns:GetScheluleListOfUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListNearby">
      <wsdl:input message="tns:GetScheluleListNearbyHttpGetIn" />
      <wsdl:output message="tns:GetScheluleListNearbyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceScheluleList">
      <wsdl:input message="tns:GetProvinceScheluleListHttpGetIn" />
      <wsdl:output message="tns:GetProvinceScheluleListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input message="tns:GetFileHttpGetIn" />
      <wsdl:output message="tns:GetFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadClassById">
      <wsdl:input message="tns:DownloadClassByIdHttpGetIn" />
      <wsdl:output message="tns:DownloadClassByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadClassByName">
      <wsdl:input message="tns:DownloadClassByNameHttpGetIn" />
      <wsdl:output message="tns:DownloadClassByNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectMN">
      <wsdl:input message="tns:SelectMNHttpGetIn" />
      <wsdl:output message="tns:SelectMNHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchScheduleName">
      <wsdl:input message="tns:SearchScheduleNameHttpGetIn" />
      <wsdl:output message="tns:SearchScheduleNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenById">
      <wsdl:input message="tns:GetDocumentLenByIdHttpGetIn" />
      <wsdl:output message="tns:GetDocumentLenByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenByName">
      <wsdl:input message="tns:GetDocumentLenByNameHttpGetIn" />
      <wsdl:output message="tns:GetDocumentLenByNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <wsdl:input message="tns:SendEmailCodeHttpGetIn" />
      <wsdl:output message="tns:SendEmailCodeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="kechengbiaoHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileHttpPostIn" />
      <wsdl:output message="tns:DeleteFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListOfUser">
      <wsdl:input message="tns:GetScheluleListOfUserHttpPostIn" />
      <wsdl:output message="tns:GetScheluleListOfUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListNearby">
      <wsdl:input message="tns:GetScheluleListNearbyHttpPostIn" />
      <wsdl:output message="tns:GetScheluleListNearbyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceScheluleList">
      <wsdl:input message="tns:GetProvinceScheluleListHttpPostIn" />
      <wsdl:output message="tns:GetProvinceScheluleListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input message="tns:GetFileHttpPostIn" />
      <wsdl:output message="tns:GetFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadClassById">
      <wsdl:input message="tns:DownloadClassByIdHttpPostIn" />
      <wsdl:output message="tns:DownloadClassByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadClassByName">
      <wsdl:input message="tns:DownloadClassByNameHttpPostIn" />
      <wsdl:output message="tns:DownloadClassByNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectMN">
      <wsdl:input message="tns:SelectMNHttpPostIn" />
      <wsdl:output message="tns:SelectMNHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchScheduleName">
      <wsdl:input message="tns:SearchScheduleNameHttpPostIn" />
      <wsdl:output message="tns:SearchScheduleNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenById">
      <wsdl:input message="tns:GetDocumentLenByIdHttpPostIn" />
      <wsdl:output message="tns:GetDocumentLenByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenByName">
      <wsdl:input message="tns:GetDocumentLenByNameHttpPostIn" />
      <wsdl:output message="tns:GetDocumentLenByNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <wsdl:input message="tns:SendEmailCodeHttpPostIn" />
      <wsdl:output message="tns:SendEmailCodeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="kechengbiaoSoap" type="tns:kechengbiaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListOfUser">
      <soap:operation soapAction="http://tempuri.org/GetScheluleListOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListNearby">
      <soap:operation soapAction="http://tempuri.org/GetScheluleListNearby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceScheluleList">
      <soap:operation soapAction="http://tempuri.org/GetProvinceScheluleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadClassById">
      <soap:operation soapAction="http://tempuri.org/DownloadClassById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadClassByName">
      <soap:operation soapAction="http://tempuri.org/DownloadClassByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMN">
      <soap:operation soapAction="http://tempuri.org/SelectMN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchScheduleName">
      <soap:operation soapAction="http://tempuri.org/SearchScheduleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenById">
      <soap:operation soapAction="http://tempuri.org/GetDocumentLenById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenByName">
      <soap:operation soapAction="http://tempuri.org/GetDocumentLenByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <soap:operation soapAction="http://tempuri.org/SendEmailCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="kechengbiaoSoap12" type="tns:kechengbiaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap12:operation soapAction="http://tempuri.org/Upload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListOfUser">
      <soap12:operation soapAction="http://tempuri.org/GetScheluleListOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListNearby">
      <soap12:operation soapAction="http://tempuri.org/GetScheluleListNearby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceScheluleList">
      <soap12:operation soapAction="http://tempuri.org/GetProvinceScheluleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://tempuri.org/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadClassById">
      <soap12:operation soapAction="http://tempuri.org/DownloadClassById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadClassByName">
      <soap12:operation soapAction="http://tempuri.org/DownloadClassByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMN">
      <soap12:operation soapAction="http://tempuri.org/SelectMN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchScheduleName">
      <soap12:operation soapAction="http://tempuri.org/SearchScheduleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenById">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentLenById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenByName">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentLenByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <soap12:operation soapAction="http://tempuri.org/SendEmailCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="kechengbiaoHttpGet" type="tns:kechengbiaoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <http:operation location="/DeleteFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListOfUser">
      <http:operation location="/GetScheluleListOfUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListNearby">
      <http:operation location="/GetScheluleListNearby" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceScheluleList">
      <http:operation location="/GetProvinceScheluleList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <http:operation location="/GetFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadClassById">
      <http:operation location="/DownloadClassById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadClassByName">
      <http:operation location="/DownloadClassByName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMN">
      <http:operation location="/SelectMN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchScheduleName">
      <http:operation location="/SearchScheduleName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenById">
      <http:operation location="/GetDocumentLenById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenByName">
      <http:operation location="/GetDocumentLenByName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <http:operation location="/SendEmailCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="kechengbiaoHttpPost" type="tns:kechengbiaoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <http:operation location="/DeleteFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListOfUser">
      <http:operation location="/GetScheluleListOfUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheluleListNearby">
      <http:operation location="/GetScheluleListNearby" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceScheluleList">
      <http:operation location="/GetProvinceScheluleList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <http:operation location="/GetFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadClassById">
      <http:operation location="/DownloadClassById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadClassByName">
      <http:operation location="/DownloadClassByName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMN">
      <http:operation location="/SelectMN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchScheduleName">
      <http:operation location="/SearchScheduleName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenById">
      <http:operation location="/GetDocumentLenById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLenByName">
      <http:operation location="/GetDocumentLenByName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <http:operation location="/SendEmailCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="kechengbiao">
    <wsdl:port name="kechengbiaoSoap" binding="tns:kechengbiaoSoap">
      <soap:address location="https://www.songshizhao.com/apps/课程表UWP/kechengbiao.asmx" />
    </wsdl:port>
    <wsdl:port name="kechengbiaoSoap12" binding="tns:kechengbiaoSoap12">
      <soap12:address location="https://www.songshizhao.com/apps/课程表UWP/kechengbiao.asmx" />
    </wsdl:port>
    <wsdl:port name="kechengbiaoHttpGet" binding="tns:kechengbiaoHttpGet">
      <http:address location="https://www.songshizhao.com/apps/课程表UWP/kechengbiao.asmx" />
    </wsdl:port>
    <wsdl:port name="kechengbiaoHttpPost" binding="tns:kechengbiaoHttpPost">
      <http:address location="https://www.songshizhao.com/apps/课程表UWP/kechengbiao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>